@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
  
.menu-section h1 {
    margin: 0 3em;
}
  

.menu-section {
    display: flex;
    flex-direction: column;

    background-color: #489078;
    color: white;
    min-height: 100vh;
}
  
.menu-section .header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 2em;
}
  
.cart-icon {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 5px;
    background-color: #f4f4f4;
    padding: 0.5em;
}
  
.cart-icon img {
    width: 40px;
    height: 40px;
    border: 3px solid white;
}
  
.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #EB5757;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
  

.menu-container {
    border-radius: 8px;
    line-height: 2em;
}
  
.menu-category {
    background-color: #605858;
    border-radius: 8px;
    margin:2em 3em;
    padding: 1em;
}
  
.menu-category h2 {
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}
  

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#wontonItems div{
    background-color: #605858;
    border-bottom:1px solid #999696;
}

#wontonItems div:hover{
    background-color: #252424;
}
  
#wontonItems div:nth-last-child(1){
    border: transparent;
}

.grid-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em; 
    width: 100%;
}

.grid-items .dips-drinks{
    background-color: #999696;
    padding: 0.7em 0.5em;
    border-radius: 4px;
}

.grid-items .dips-drinks:hover{
    background-color: #252424;
}
  
.menu-items {
    border-radius: 4px;
    color: white;
}
  
.menu-item h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    
}
  
.menu-item p {
    font-size: 16px;
    margin: 0;
    color: white;
    cursor: pointer;
}

.hidden{
    display: none;
}

@media (min-width: 768px) {
    .menu-container {
      width: 80%;
      padding: 20px;
    }
  
    .menu-items {
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 20px;
    }
  
    .menu-item {
      flex: 0 0 45%; 
    }
}
  
@media (min-width: 1024px) {
    .menu-container {
      max-width: 800px;
    }
  
    .menu-items {
      flex-wrap: wrap;
    }
  
    .menu-item {
      flex: 0 0 30%;
    }
}